  <table>
  <% var i; for (i=0; i < quizes.length; i++) { %>        
     <tr>
      <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %> (<%= quizes[i].tipopreg %>)</a></td>
      <td><a href="quizes/<%= quizes[i].id %>/edit">Editar</a></td>
       <td>
        <form method="post" action="quizes/<%= quizes[i].id %>?_method=delete">
          <button type="submit" onClick="return confirm('Borrar: <%= quizes[i].pregunta %>');">
            borrar
          </button>
        </form>
      </td>
    </tr> 
  <% } %>
  </table>
<p>
	<form method="get" action="/quizes">        
	  Buscar pregunta sobre:
	  <input type="text" name="search" value="" placeholder="texto buscar"/>
	  <input type="submit" value="Enviar">
	</form>
</p>
<p><a href="/quizes/new">Crear nueva pregunta</a></p>