<h2>Estadísticas preguntas y comentarios</h2>

<ul>
	<li>Número de preguntas: <%= datos['pregTotal'] %></li>
	<li>Número de comentarios totales: <%= datos['comentariosTotal'] %></li>
	<li>Número de comentarios Sin publicar: <%= datos['ComentariosSinAprobar'] %></li>
	<li>Número medio de comentarios por pregunta: <%= datos['comentariosMedia'] %></li>
	<li>Número de preguntas sin comentarios: <%= datos['pregSinComentarios'] %></li>
	<li>Número de preguntas con comentarios: <%= datos['pregConComentarios'] %></li>
</ul>




